body {
    padding: 0;
    margin: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}

header {
    background-color: white; 
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.logo {
    height: 70px; /*Al tratarse de una imagen que queremos que se vea igual siempre, ponemos la dimensión en pixeles*/
    display: flex;
    padding-left: 10px;
}

.logo-image { /*Se le dan dimensiones y espacios para que se vea mejor en el contenedor.*/
    align-self: center;
    height: 60%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

ul li {
    display: inline-block;
    padding: 20px;
}

ul li:hover a{
    color: #2D6FA4;
}

a {
    text-decoration: none; /*Quitamos el subrayado de los enlaces (Ojo: Mala práctica para accesibilidad, pero muestro el ejemplo de que se puede hacer)*/
}

.navigation-link {
    color: black; 
    margin-left: 20px; 
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    z-index: 90;
    top: 90%;
    padding: 0;
    box-shadow: 2px 2px 5px 0 gray;
    border-radius: 5px;
}

li:hover .submenu{
    display: block;
}

.submenu li {
    text-align: left;
    padding: 0;
    display: block;
    padding: 10px;
}

.submenu li:hover {
    background: rgb(230, 229, 229);
}


.hero-container {
    width: 100%;
    display: flex;
    min-height: 400px;
    background: #2D6FA4;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    flex: 0 1 40%;
    text-align: center;
    justify-content: center;
}

.hero-content h2 {
    font-size: 4em;
    margin: 0;
    padding: 0 25px;
}

.hero-content p {
    font-size: 2em;
}

.hero-content button {
    background: #D71F27;
    min-width: 150px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.hero-content button:hover {
    background: #ba1b23;
    cursor: pointer;
}

.hero-img {
    display: flex;
}

.hero-img img {
    align-self: center;
    height: 80%;
}

.mission-vision-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mission-vision-card {
    display: flex;
    justify-content: column;
    width: 30%;
    min-width: 300px;
    flex-wrap: wrap;
    background: #D8DDDE;
    border-radius: 10px;
    margin-top: 35px;
}

.mission-vision-card-title {
    background: #ABA194;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.mission-vision-card-content {
    background: #D8DDDE;
    padding: 20px;
    margin: 0;
    text-align: justify;
    border-radius: 10px;
}