
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #0066cc;
    text-align: center;
}

h2 {
    color: #333;
    border-bottom: 2px solid #0066cc;
    padding-bottom: 5px;
}


p {
    line-height: 1.6;
    margin-bottom: 10px;
}


a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


blockquote {
    font-style: italic;
    background-color: #e9f5ff;
    padding: 10px;
    border-left: 5px solid #0066cc;
}


ul, ol {
    padding-left: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #0066cc;
    color: white;
}

td {
    background-color: #f9f9f9;
}


.highlight {
    background-color: yellow;
}

.deleted {
    color: red;
    text-decoration: line-through;
}


#video {
    margin-top: 20px;
    text-align: center;
}

#imagen {
    text-align: center;
    margin-top: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
