* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjetas-contenedor {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tarjeta {
    width: 300px;
    border: 2px solid #007bff;
    border-radius: 8px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.imagen {
    width: 300px;  
    object-fit: cover;  /* Ajusta la imagen al tamaño manteniendo el aspecto */
    border-radius: 8px 8px 0 0;
}

.contenido {
    padding: 20px;
    text-align: center;
}

.contenido h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.contenido p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.boton:hover {
    background-color: #0056b3;
}
